.panel h2.title { margin-bottom: 8px }
noscript div {background:#fff6bf; color:#514721; border:2px solid #ffd324; padding:20px;}

/* .coda-slider { background: #ebebeb } .coda-slider-wrapper { padding: 20px 0 } */
.coda-slider-wrapper {padding:0px;}
.coda-slider { /*background: #ebebeb; border:1px solid red; */}

.coda-slider-no-js .coda-slider{height:250px; /* overflow:auto !important ;*/ padding-right:20px}

.coda-slider, .coda-slider .panel{width:950px;}

/* Gérer ces 3 ci-dessous lorsq les bouton suivant et précédent st affichés*/
.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width:185px; /*600px*/ }
.coda-slider-wrapper.arrows .coda-slider { margin:0px; /*margin: 0 10px */}
.coda-nav-left a, .coda-nav-right a { background:#fff; color:#333; padding:5px; width:100px }

.coda-nav ul li a.current {background:#0c51bd/* 39c */}

.coda-slider .panel-wrapper, .positionTests { height:250px; }
	.panel-slideJpeg{z-index:0;}
	.panel-slideText{width:230px; position:relatif; margin-top:-250px;/*-250px */ margin-left:710px;}
		.panel-slideText h1{width:180px; margin-top:10px; margin-left:45px; line-height:1.5em; color:#00017f; font-size:18px; border:1px solid red}
		.panel-slideText p, .panel-slideText-foot{width:190px; margin-top:20px; margin-left:35px;}
		.panel-slideText table{margin-left:35px; border:1px solid red;}
		.panel-slideText table td{margin:0px; padding:0px; }
		.panel-slideText-foot{text-align:center; margin-left:25px;}
/* 		.panel-slideText-foot {background:#ccc url(../img/butTest.png) no-repeat; height:40px;}
		.panel-slideText-foot a:hover{background:url(../img/butTestH.png) no-repeat;}
			.commandBut {background:url(../img/butCmder.png) no-repeat; height:40px;}
			.commandBut a:hover{background:url(../img/butCmderH.png) no-repeat;} */

.coda-slider p.loading{padding:20px; text-align:center}

/* Tabbed nav */
.coda-nav ul {clear:both; margin-top:230px; margin-left:65%; z-index:3; position:absolute; width:120px !IMPORTANT;}
.coda-nav ul li{float:left; margin-right:5px;}
.coda-nav ul li a{background:#000; color:#fff; padding:3px 6px;}

/* Miscellaneous */
.coda-slider-wrapper {clear:both; /* overflow: auto */ }
.coda-slider {float:left; overflow:hidden; position:relative}
.coda-slider .panel {display:block; float:left;}
.coda-slider .panel-container {position:relative}
.coda-nav-left, .coda-nav-right {float:left}
.coda-nav-left a, .coda-nav-right a {display:block; text-align:center; text-decoration:none }
.coda-nav-left a:hover, .coda-nav-right a:hover {text-decoration:none; color:#f68316;}
