/* DEFAULT STYLES */
body{font-family:Verdana,Arial,sans-serif; font-size:11px; color:#555;}/*bg.png*/
a{color:#555;text-decoration:none;} ul{margin:0px; padding:0px; list-style:none;} 
a:hover{color:#0049ba;text-decoration:none;} /* a.hoverGris:hover, .hoverGris a:hover{color:#bcbcbc;} */ a.LkUnderline:hover, .LkUnderline a:hover{text-decoration:underline;} a.bleuLink, .bleuLink a, .bleuLogo{color:#0049ba;} a.bleuLink:hover, .bleuLink a:hover{color:#555;}
.gris-comment{color:#777;} .gris-text{color:#333;} .red-text{color:#c30c0c;} .center{text-align:center;} 
h1{font-size:15px;} h2{font-size:14px;} h3{font-size:12px;} h5{font-size:11px;} .Tjustify{text-align:justify;}
.clr{clear:both;} .marginBottom20p{margin-bottom:20px;} .marginBottom10p{margin-bottom:10px;} .paddingBottom20p{padding-bottom:20px;} .paddingTopBot20p{padding-bottom:20px;padding-top:20px;} .bgBlanc{background:#fff;} .bgGrisatr1{background-color:#f7f7f7;} .bgGrisatr2{background-color:#f0f0f0;}
.container{/* background:#f2f2f3; */ padding-top:15px;} .container2 {background:#f0f0f0; padding-top:0px;} .container3 {/* background:#282828; */ padding-top:0px;}
.divBody1{background:url(../img/bgstep12.png) 0 bottom repeat-x;} .divBody2{background:#f0f0f0; /* margin-top:-5px; */} .divBody3{background:#282828 url(../img/bgstep2.png) center repeat-y;} .divBody3Top{background:url(../img/bgstep2Top.png) top no-repeat; height:27px;} 
.coinsArrondis{-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;} .coinsArrondis-min{-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;} .borderBotStyle{border-bottom:3px solid #ccc;}/* e4e4e4 */
.leftSpace{margin-left:30px;} .rightSpace{margin-right:30px;}

/* Hearder */
#header{padding-top:20px;}
	.logoSite{}
		.header-logo{background:url(../img/logo.png) no-repeat; height:60px; float:left; width:65px;}
		.header-slogan{background:url(../img/socialname2.png) no-repeat; height:60px; float:left; width:340px; margin-left:5px; margin-top:5px;}
	.header-rapidAcces{color:#fff; text-transform:uppercase; padding-top:5px;} .header-rapidAcces a, .connectus a{color:#fff;}
		.boxCompte, .boxInscription, .boxRecherche{width:200px; float:right; padding:3px; text-align:center;}
		.boxCompte{background:#294083;} .boxCompte:hover{background:#0049ba;}
		.boxInscription{background:#9f3cbe; margin-top:8px;}
		.boxRecherche{border:1px solid #eee;padding:0px; margin-top:8px;}
			.boxRecherche input{float:left;margin:0px;border:none;}
			.boxRecherche input[type=text]{padding:4px 0 4px 5px; font-size:11px; color:#777; font-style:italic; margin-left:5px; width:150px;}
			.boxRecherche input.btRecherche{width:40px; background:#ccc url(../img/icon_find.png) no-repeat center; border:none; padding:3px;border-radius:0 10px 10px 0;}

/* Zone bannière */
.banSite{margin-bottom:20px; margin-top:-4px; background:#eee/* e5e5e5 */ /* z-index:0 !IMPORTANT; */}
.banniere{border-top:2px solid #ccc/* 0049ba */;}
	/* .banniere img{padding-top:2px;} */
	.banniere-cnt{padding:0px; background:#fff url(../img/bggriszoom.png) repeat-x 0 55px;}
	.banniere-titre {z-index:2; float:left; width:250px; height:120px; position:absolute; top:165px; left:50; padding:10px 0; margin-bottom:20px; background:#18528a; background-color: rgba(47,163,275,0.5)}
		.banniere-titre h1{color:#fff; padding:0px; margin:0px; margin-left:15px; font-weight:bold; line-height:1.5em; }
		.banniere-titre h1 a{color:#fff; font-weight:normal;} .banniere-titre h1 a:hover{color:#efefef;}
		.banniere-titre div.banniere-descr{padding:0 10px; color:#000/* efefef */;}
		.banniere-titre .styleRetrait div{padding:10px; padding-right:15px; width:230px; /* border:1px solid red */ }
		.banniere-titre .styleRetrait-left{left:-16px}
		/*background:url(../img/test3.png) 0 top; */
		/*background-color: rgba(47,163,275,0.5) 18528a bleu
		background-color:rgba(60,190,190,0.9) 1e3a5f */ 
		/* .banniere-titre .bordoBox div{ background-color:#c30c0c; background-color: rgba(390,24,24,0.7)} */
		.banniere-titre .bleuBox div{background:#1e3a5f;}
		.banniere-titre .bordoBox div{ background-color:#860000; background-color: rgba(255,0,0,0.6)}
		.banniere-titre .cielBox div{background:#147c9a; margin-left:-20px;}
		.banniere-titre .rouxBox div{background:#b77b0a; margin-left:-20px;}	/*:-20px; UNIQUEMENT POUR LES BOX A DROITE*/
		.banniere-titre .orBox div{background:#ff8f0f;}
		.banniere-titre span {display:block; height:16px;}
		.banniere-titre .bordoBox span {background:url(../img/bgStyleBordo.png) no-repeat left bottom;}
		.banniere-titre .bleuBox span {background:url(../img/bgStyleBlue.png) no-repeat left bottom;}
		.banniere-titre .cielBox span {background:url(../img/bgStyleCielR.png) no-repeat right bottom;}
		.banniere-titre .rouxBox span {background:url(../img/bgStyleRouxR.png) no-repeat right bottom;}
		.banniere-titre .orBox span {background:url(../img/bgStyleOr.png) no-repeat left bottom;}
#ban-dyn{/* margin:0 auto;width:980px; */}
	#ban-dyn .panel-wrapper img{/*border:2px solid #ccc; --- width:980px; */}

/* Zone Adresse ap bannière */
.infosTool{padding-top:15px;}
	.infosTool h3{font-size:14px; margin-bottom:5px;} .infosTool h3 span{font-size:18px;}
	.infosTool div p{font-size:14px;} .infosTool div, div.mhr{float:left;} .infosTool div.infoP1{width:340px;} .infosTool div.infoP2{width:110px; font-style:italic; font-weight:bold;} 
	.infosTool div.mhr{width:430px;padding-top:10px; padding-right:10px;}

/* ACCUEIL -- Catégories Clients - Particulier, Professionnel, Entreprise */
.boxSection{text-align:center; padding:10px 0;}
	.box-particulier{background:#d7e6ad;} .box-professionnel{background:#BBDDF9;} .box-entreprise{background:#E2E2E2;}
	.boxSection-titre{font-size:18px; font-weight:bold; margin:10px 0;}
	.boxSection-icon{text-align:center; margin:25px 0 20px 0;}
	.boxSection-cnt ul{font-weight:bold; /* list-style:none; */}

	a.btmoore{border:1px solid #bcbcbc; padding:5px 4px; background:#f7f7f7; font-size:11px;}
	a.btmoore span {padding:6px 8px;}
	a.btmoore span + span{background:url(../img/icon-rightdirect.png) no-repeat center 9px; border-left:1px solid #bcbcbc}
	a.btmoore:hover{background-color:#e5e5e5; color:inherit;}
	.divButmoore{text-align:center; margin-top:10px;} .leftPosition{text-align:left;} .rightPosition{text-align:right;}
		.boxSection div.divButmoore{margin:30px 0 25px 0;}
		.boxCorespdant div.divButmoore, .typesCartesBq div.divButmoore{text-align:left;}
		.actusBox div.divButmoore, .faqBox div.divButmoore{text-align:right; margin:0px;}
		.boxDocuments-foot div.divButmoore{float:right;width:221px; margin-top:5px}
	
/* FRM Authentification ACCUEIL #3CC3FF #F7F7F7*/
.boxClientAuth{} .boxActu h1, .boxClientAuth h1{font-weight:normal;}
	.boxClientAuth-cnt{width:280px; margin:0 auto; padding-bottom:6px;}
	.boxClientAuth-cnt div{padding:6px 0 0 0;}
	.boxClientAuth-cnt span{display:block; font-weight:bold;}
	.boxClientAuth-cnt input{padding:4px; border:1px solid #ddd; width:265px; margin-top:2px; margin-bottom:8px;}
	.boxClientAuth-cnt p {padding:0px; margin:0px;}
	.boxClientAuth-cnt p a{font-weight:bold; display:block;}
		a.helpCustomer{float:left;} a.lostCustomer{float:right;}
.boxActu{padding:10px 10px 8px 10px;}
	.boxActu h1{margin:5px 0 10px 25px; float:left; width:60px;}
	.alldynactu{height:48px; overflow:hidden;}
	.butNavigActuHome{float:left; width:100px;  cursor:pointer;}
		.butNavigActuHome span{display:block; height:26px; width:26px; float:left;}
		span.prevActu {background:url(../img/icon-nextSmall.jpg) no-repeat 0 0; }
			span.prevActu:hover{background:url(../img/icon-nextSmallH.jpg) no-repeat 0 0;}
		span.nextActu {background:url(../img/icon-prevSmall.jpg) no-repeat 0 0;}
			span.nextActu:hover{background:url(../img/icon-prevSmallH.jpg) no-repeat 0 0;}
	
/* ZONE PRODUITS ACCUEIL -- */
.boxProduit-all{padding-top:20px; margin-left:15px}
	.boxProduit{width:280px; float:left; margin-right:15px;}
		.boxProduit h1{font-size:12px; margin:0px; padding:15px 0;}
			h1.titreOnly{margin:0px !IMPORTANT; margin-top:-6px !IMPORTANT; padding:0px;}
		.boxProduit img{}
		.boxProduit-cnt{text-align:center;}
		.boxProduit-foot{padding:15px; padding-top:5px; height:70px; margin-top:-4px !IMPORTANT}
	.box-gab{margin-right:0px;}
	.box-assur{width:305px; margin-right:0px; margin-top:-1px;}
	.box-dynPrdSrv{width:300px; border:1px solid red} /*280 + 15px retiré du margin-left normalement 30px par defau pr rightSpace*/
		.box-dynPrdSrv h1{float:left;width:90px; margin:0px; padding:0px; margin-left:18px;}
		.boxProduit div.mhr{width:190px; padding-left:0px;}
		.navigIcon{float:left; width:30px; margin-top:65%;/* border:1px solid red */} div.rightIcon{ margin-left:-4px;/* */} div.leftIcon{margin-right:-12px;/* */}
		.allProduitServices{float:left; padding-top:15px; width:252px;}
		.onePrdSrv{/* border:1px solid blue */}
			h2.namePrdSrv{font-weight:bold; font-size:12px;margin-bottom:8px; display:none;}
			.iconPrdSrv{width:230px; margin:15px 0 0 13px; height:145px;/* border:1px solid red */ }
			.descriptionPrdSrv {}
			.onePrdSrv:hover{/* background:#e5e5e5; */}

/* ZONE CORRESPONDANTS ACCUEIL --*/
.boxCorespdant{}
	.boxCorespdant h1, .boxDocuments h1, .actusBox h2{margin:0px; float:left;}
		.boxCorespdant h1{width:170px;} .boxDocuments h1{width:140px;} .actusBox h2{width:145px;}
	.boxCorespdant div.mhr, .boxDocuments div.mhr, .actusBox div.mhr{width:80%; padding-top:5px;}
		.boxDocuments div.mhr{width:54%;} .actusBox div.mhr{width:235px;}
	.slideCorespdant{margin:20px 0;}

/* -- Footer Page --*/
.footer{color:#a9a9a9; margin-top:50px;}/*d6d6d6*dfdfdf ---*/
	.footer h3, .footer span{color:#f0f0f0; display:block; font-size:12px; float:left; font-weight:normal !IMPORTANT;}
	span.linedesign{overflow:hidden; background:url(../img/linedesign.png) no-repeat 0 0; height:2px; margin:10px 0;}
	.linebox1{width:155px;} .linebox2{width:95px;} .linebox3{width:95px;} .linebox4{width:170px;}
	.footer li a{color:#a9a9a9;}
	.footerDown{background:url(../img/bgstep2Down.png) no-repeat 0 0;}
		.footerDown-Bg{background:url(../img/bgstep2Down.png) no-repeat 0 0; height:25px;}
		.footerDown-cnt{background:#1f1f1f; color:#c1c1c1; padding:10px 0 10px 30px;}
	.footer ul{margin-top:15px;}
		.footer ul li{padding-left:18px; line-height:22px;}
		li.info-phone{background:url(../img/icon-phone3.jpg) no-repeat 0 3px;}
		li.info-mail{background:url(../img/icon-mail.png) no-repeat 0 6px;}
		li.info-adress{background:url(../img/icon-home.jpg) no-repeat 0 3px;}
		ul.listPuce1 li{background:url(../img/icon-pencil.jpg) no-repeat 0 5px;}
		ul.listPuce2 li{background:url(../img/icon-point.png) no-repeat 0 9px;}

/*Resumé article*/
.blog-image{width:180px; height:145px; overflow:hidden; float:left; margin-right:5px;}
table tr.loops td{background-color:#f7f7f7;}
table tr.pools td{background-color:#ddd;}
table td.valueNamed{width:130px;}
.boxAdress{padding:15px;}
.boxPresentation{padding-right:10px;}
.boxDocuments{}
	div.oneDoc{/* border-bottom:1px dotted #ccc; */ padding-bottom:10px; margin-top:10px;}
		.rsldocs div.oneDoc{padding-left:5px; padding-right:5px;}
	.oneDoc img{float:left;}
	span.oneDoc-date{display:block; font-style:italic;}
	p.oneDoc-titre{width:92%; float:left; margin-left:5px;}
	.rsldocs p.oneDoc-descrp{margin-top:8px;}
	p.oneDoc-type{padding:5px; width:83%; margin:5px auto; padding-left:8px; font-style:italic;}
	.boxDocuments-cnt{margin-top:10px;}
		.boxDocuments-cnt ul{}
		.boxDocuments-cnt ul li{margin-bottom:6px; height:85px;}
	.boxDocuments-foot{/*d8e6ef efefef */}
		.butNavigDocs{float:left; padding-top:3px;}
		.butNavigDocs span{cursor:pointer;padding:2px 5px;background:#fff;}
		.butNavigDocs span.nextItem img{padding-right:5px !IMPORTANT;}
		
.actusBox{padding-right:20px;}	/*dynamiq box*/
	.actusBox-cnt {}
		.actusavis-descrp {} .actusavis-date {font-style:italic; }
	.actusBox-cnt div.oneDoc img{margin-right:8px;}
	.actusBox-cnt div.oneDoc{border-bottom:1px dotted #ccc; /* margin-bottom:5px;*/ margin-top:4px; height:62px;  overflow:hidden;}
	.actusBox-cnt ul li{/* height:90px; */}
	h1.tWithLeftBar, .sondageBox h1{border-left:10px solid #011938; padding:10px;}
		h1.tWithLeftBar span{font-size:11px;display:block;padding-top:5px; font-weight:normal;line-height:15px;}
	h1.tWithTopBar, h1.tWithTopBar-blue{border-top:5px solid #c30c0c; padding:10px; padding-top:5px;}
	h1.tWithTopBar-blue{border-top-color:#011938;}
	h1.tWithCadre{border:1px solid #e5ecf9; border-top:5px solid #ddd; padding:10px; padding-top:5px; background:#eff6f9;}
	.butNavigActusAvis{/* border:1px solid #011938; */}
	.butNavigActusAvis span{padding:2px 3px;}
	
.newsletterBox{padding:10px 20px; border:1px solid #c1c1c1; border-top:3px solid #860000; background:#fff url(../img/bggriszoom.png) repeat-x 0 55px;}
	.newsletterBox h2{text-transform:uppercase; padding:0px;}
	.newsletterBox input[type=text]{padding:4px; width:230px;}
	.newsletterBox input[type=submit], .sondageBox-foot input[type=submit]{padding:5px; border:none; background:#860000; color:#fff; font-weight:normal; font-size:11px;}
	.iconRight-box{background:url(../img/bgNEWSLT2.png) no-repeat right top;}
	
	/*dynamiq box*/
.faqBox{margin-bottom:20px;}
	.allQR{background:url(../img/bgFAQ.png) no-repeat right top; height:110px; margin-bottom:15px;}
	.allQR ul{}
	.allQR ul li{background:url(../img/icon-rightdirect.png) no-repeat 0 4px; padding-left:13px;}
	.allQR li a,.othone li a{color:#147c9a;}
	.allQR ul li a:hover, .othone li a:hover{color:#011938;}
.faqInLarg .allQR, .rslfaqs .allQR{height:auto;background:none;}
	.bgFaqTop{background:#fff url(../img/bgFAQ.png) no-repeat right top;}
	.faqInLarg .allQR ul,.rslfaqs .allQR ul{margin-left:10px;}
	.faqInLarg .allQR ul li.activeFaq, .rslfaqs .allQR ul li.activeFaq{font-weight:bold;font-size:12px;}
	.faqInLarg .allQR ul li ul, .rslfaqs .allQR ul li ul{margin:5px 0 10px 10px; padding:7px 0; background:#eff6f9/* e9f5f9 */;}
	.faqInLarg .allQR li li, .faqInLarg .allQR li li li, .rslfaqs .allQR li li, .rslfaqs .allQR li li li{background:none; font-size:11px; font-weight:normal;}
	.faqInLarg .allQR ol, .rslfaqs .allQR ol{margin-left:15px;} .faqInLarg .allQR ol li, .rslfaqs .allQR ol li{padding-left:5px;}
	.faqInLarg .allQR ul li ul ul, .rslfaqs .allQR ul li ul ul{margin:0; margin-left:15px; padding:0; padding-left:5px;}
	.faqInLarg .allQR ul li ul ul li, .rslfaqs .allQR ul li ul ul li{background:url(../img/icon-itemFaqBlue.png) no-repeat 0 5px;}
	.faqInLarg .allQR li li li:hover, .rslfaqs .allQR li li li:hover{background:#ddd;}

.sondageBox{}
	.sondageBox{background:url(../img/bgPoll.png) no-repeat right -10px;}
	.sondageBox-cnt p{font-weight:bold;}
	.sondageBox-foot{padding-bottom:8px; width:170px; margin:10px auto;}
	.sondageBox-foot input[type=submit]{padding:3px 10px; float:left; margin-top:-2px;}
	.sondageBox-foot input[type=checkbox]{float:left;margin-top:0px;}
	.sondageBox-foot span{display:block; float:left; margin-right:15px;}

/* -- Page Réumé Produit Service pour une catégorie client*/
.zoomPrdSrv{width:430px;} /* .span-12 {width:470px;} */
		.zoomPrdSrv-left {float:left; margin-right:20px; margin-left:30px;}
		.zoomPrdSrv-right {float:right; margin-right:30px;}
	.zoomPrdSrv-cnt {padding:10px 4px 8px 4px; border:1px solid #f1f1f1; background:#fff url(../img/bggriszoom.png) repeat-x 0 55px;}
		.zoomPrdSrv-titre, .zoomPrdSrv-Img {float:left;}
			.zoomPrdSrv-right .zoomPrdSrv-titre, .zoomPrdSrv-right .zoomPrdSrv-Img {float:right;}
		.zoomPrdSrv-titre {width:165px;margin-top:15px;}
			.styleRetrait{position:relative;} .styleRetrait-left{left:-20px} .styleRetrait-right{right:-20px;}
			.styleRetrait div.tstyle{padding:0px; width:170px; /* border:1px solid red */}
				.bleuBox div.tstyle{padding-right:35px; background:url(../img/bgStyleBlue2.png) no-repeat right center;}
				.cielBox div.tstyle{padding-left:35px; background:url(../img/bgStyleCielR2.png) no-repeat left center; margin-left:-40px;}
				.rouxBox div.tstyle{padding-left:35px; background:url(../img/bgStyleRouxR2.png) no-repeat left center; margin-left:-40px;}	/*margin-left:-20px; UNIQUEMENT POUR LES BOX A DROITE*/
				.orBox div.tstyle{padding-right:35px; background:url(../img/bgStyleOr2.png) no-repeat right center;}
				.bleuBox div div{background-color:#1e3a5f; /* border:1px solid yellow */}
				.cielBox div div{background-color:#147c9a;}
				.rouxBox div div{background-color:#b77b0a;}
				.orBox div div{background-color:#ff8f0f;}
				.bleuBox div.tstyle:hover{background:url(../img/bgStyleBlue2H.png) no-repeat right center;}
				.bleuBox div.tstyle:hover div{background-color:#011938;}
				.cielBox div.tstyle:hover{background:url(../img/bgStyleCielR2H.png) no-repeat left center;}
				.cielBox div.tstyle:hover div{background-color:#0a3b49;}
				.rouxBox div.tstyle:hover{background:url(../img/bgStyleRouxR2H.png) no-repeat left center;}
				.rouxBox div.tstyle:hover div{background-color:#5f4109;}
				.orBox div.tstyle:hover{background:url(../img/bgStyleOr2H.png) no-repeat right center;} /* */
				.orBox div.tstyle:hover div{background-color:#9e5807;} /* */
			.zoomPrdSrv-titre h1{color:#fff; padding:0px; margin:0px; margin-left:5px; font-weight:normal; line-height:1.5em;
				padding-top:10px;padding-bottom:10px; padding-left:10px;/* border:1px solid white; */
			}
			.zoomPrdSrv-titre h1 a{color:#fff; font-weight:normal;} .zoomPrdSrv-titre h1 a:hover{color:#efefef;}/* 993300 hover pour 2
				.bleuBox h1 a:hover{color:#b77b0a;} .cielBox h1 a:hover{color:#1e3a5f;}*/
				.styleRetrait-right h1{}
		.zoomPrdSrv-Img{margin-left:-15px; width:260px;}
			.zoomPrdSrv-right .zoomPrdSrv-Img{margin-left:0px; margin-right:-15px; }
	
.othersPrdSrv{}
	.othone{float:left; margin-right:10px;padding:10px 5px;} .othone:hover{background:#f0f0f0;}
		.othone ul{}
		.othone ul li{background:url(../img/icon-item1.png) no-repeat 0 3px; padding-left:13px;}
	.othone-logo, .othone-cnt{float:left;}
	.othone-logo{width:80px; margin-right:5px;}
	.othone-cnt{width:186px; height:75px; overflow:hidden;}
		.othone-cnt h2{margin:0px; padding:0px; margin-bottom:5px;}
		.othone-cnt ul{}
	.othone-foot{margin-top:10px;}
		.othone-foot ul{margin-left:50px;}
		.alloutbmoore div{margin:0px; float:left;} .alloutbmoore div.divButmoore{float:right; width:128px;}
		.alloutbmoore img{ margin-top:-3px;}
		.connectus .boxCompte, .connectus .boxInscription{/* width:130px;*/float:none;}
		.connectus .boxCompte{background:#c30c0c url(../img/icon-secure-acces.png) no-repeat 10px 3px;}
		.connectus {width:273px;} .connectus div{margin:0px auto;} .connectus div.boxInscription{margin-top:8px;}

/* --- --- */		
.typesCartesBq h2{background:url(../img/icon-valSmall.png) no-repeat 0px -3px; padding-left:25px; margin-left:20px;}
.typesCartesBq ul.list-validBut + h2{margin-top:20px;}
ul.list-validBut{}
	ul.list-validBut li{background:url(../img/icon-item1.png) no-repeat 0px 2px; margin-bottom:5px; padding-left:15px;margin-left:45px;}
	ul.list-validBut ul{margin-top:5px;} ul.list-validBut ul li{margin-left:25px;}
.typesCartesBq div.divButmoore{text-align:right; margin-top:10px;} .typesCartesBq ul.lstson + div{margin-top:18px;}
.commandePrdSrv{text-align:center; margin-top:20px;}
.conditionOpenCpt ol{margin-left:20px;}
table.typesCompts {margin-bottom:33px;}
	table.typesCompts th{text-align:center; font-weight:normal}
	table.typesCompts td{text-align:center; padding:15px 5px;}
	table.typesCompts td.one-Compts{font-weight:bold;text-align:left;}
	table.typesCompts th.cdtn-Compts{width:60px;}
	table.typesCompts th.depo-Compts{width:60px;}
	table.typesCompts td.yesValue{}
	table.typesCompts th.mtan-depo-Compts{width:50px;}
.einfoIlustr, .einfoDescr{float:left;} .einfoIlustr{width:230px;} .einfoDescr{width:660px;}
	ul.list-validBut2 li{background:url(../img/icon-valSmall2.png) no-repeat 0px 2px; padding-left:25px; margin-left:40px; line-height:25px;}
	ul.list-validBut2 li p{float:left; width:400px;} 
	ul.list-validBut2 li p + p{width:193px; text-align:right;}

.cnxion-inscription{}
	.cnxion-inscription div.cnxion-inscrip-cnt{width:425px; float:left; margin-right:10px; padding:0; text-align:center;} 
		.cnxion-inscription div + div{margin-left:10px; margin-right:0px; border-left:1px solid #ddd; }
	.cnxion-inscription div a{display:block;}
		a.inscriptionCpt, a.accesCpt{padding:11px 5px 12px 14px; color:#fff; text-align:center; width:200px; margin:10px auto;} 
		a.inscriptionCpt:hover, a.accesCpt:hover{color:#f1f1f1;}
		a.inscriptionCpt{background:#293b5b url(../img/icon-valBigBlanc.png) no-repeat 10px 5px; padding-left:30px; padding-right:15px;} a.inscriptionCpt:hover{background-color:#1d2940;} a.accesCpt:hover{background-color:#860000;}
		a.accesCpt{background:#c30c0c url(../img/icon-secure2.png) no-repeat 10px 5px;} 
	.cnxion-inscrip-cntL{float:right; width:220px; margin-right:20px;} .cnxion-inscrip-cntR{float:left; width:220px; margin-left:40px;} 

.listePrets, .contentPretBox{float:left;} .listePrets{width:390px; margin-right:10px;} .contentPretBox{width:520px;}
	.onePret{margin-bottom:10px; border-bottom:1px dotted #ccc; padding:15px 0 15px 0;}
	.titredescr{width:245px; float:left; margin-right:10px; }
	.onePret .leftPosition{width:135px; float:left;}
	.titredescr h1{font-size:12px; background:url(../img/icon-valSmall2.png) no-repeat 0 1px; padding:0px 0 4px 25px; margin-left:10px; margin-top:-2px; line-height:20px;}
	.titredescr p{margin:0px; margin-left:35px; margin-top:-7px; padding:0px; font-style:italic;}
	.contentPret-dyn{}
		.detailPret{padding-left:10px;}
		.detailPret table{/* border-bottom:1px dotted #ccc; */}
		.detailPret table td{ padding:15px 5px;}
		.detailPret table td.critereDmd{width:100px;}
		.detailPret table td.critereDmd img{display:block; margin:8px auto;}
	.contenTypAssur h1{border-color:#ff8f0f;} 
	.contenTypPret h1{border-color:#c30c0c;}
	.contentAssur-dyn, .contentPret-dyn{border:1px solid #ff8f0f ; padding-top:0px; margin-top:10px;}
		.contentPret-dyn{border-color:#c30c0c;}
	.contentAssur-dyn h1, .contentPret-dyn h1{padding-top:0px; margin-top:0px; padding-top:10px;}
		.contentAssur-dyn h1, h1.orBar{border-color:#ff8f0f; color:#ff8f0f;}
		.contentPret-dyn h1{border-color:#c30c0c;}
	.detailPret{padding-bottom:15px;}
	.detailPret ul li{line-height:20px;} .detailPret ul li+li{margin-top:8px;}
	.contentAssur-dyn .detailPret p{line-height:20px;}
	
.filterPageBox{padding:10px; padding-left:20px; background:#eee; width:450px;}
	.filterPageBox label, .filterPageBox select, .nbResults{float:left;} .pagins{float:right;}
	.filterPageBox label{display:block; margin-top:10px; width:150px;}
	.filterPageBox select{padding:4px; width:250px; margin-left:10px;}
		.filterPageBox label.labelLg + select{margin-top:15px;}
	.filterPageBox input[type=submit]{padding:5px 10px; border:none; background:#860000; color:#fff; font-weight:normal; cursor:pointer;}
	.filterPageBox input[type=submit]:hover{background:#c30c0c;}
	.filterPageBox div + div{margin-top:8px;}
	.resultsFilter{}
		.paginResults{margin:10px 0 5px 0; width:470px; border-bottom:1px dotted #ccc; padding-bottom:10px;}
			.nbResults{width:130px; margin-right:20px; font-style:italic; font-weight:bold;} .pagins{width:320px; text-align:right;}
			.pagins a{background:#000; color:#fff; padding:3px 6px;}
			.pagins a.currentF{background:#0c51bd;}
		.rsldocs table th{font-weight:normal}
		.rsldocs p.oneDoc-type{margin-left:25px;}
	
	.serviceAssocie-cnt ul{margin-left:20px; line-height:22px;}
	.list-item1 ul li, ul.list-item1 li{background:url(../img/icon-item1.png) no-repeat 0 5px; padding-left:15px;}

.boxAppelinfo{margin-left:10px; border:1px solid #efefef; border-top:none;background:url(../img/bggriszoom.png) repeat-x 0 bottom;}
	.boxAppelinfo-head{background:url(../img/icon-help.png) no-repeat 81% top; padding-bottom:10px;}
	.boxAppelinfo h1{padding:10px; border:1px solid #efefef; padding-left:40px; padding-bottom:23px;}
	.boxAppelinfo-cnt {text-align:center;}
	.boxAppelinfo-cnt h3{line-height:22px; padding:0 10px;}