{# src/utb/SiteBundle/Resources/views/layoutSite.html.twig #}
{% extends "utbSiteBundle::layoutSite.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}
  
{% block public_body %}
  

	<!-- <div class="span-24 banSite borderBotStyle paddingBottom20p"> <!-- Début banniere 
		<div class="infosTool rightSpace leftSpace">
			<h3>Contactez nous au <span class="bleuLogo">00 228 22 23 43 00</span> ou <a href="">par email</a></h3>
			<div class="infoP1"><p>Plus de 70 000 clients nous on fait confiance ...</p></div>
			<div class="mhr"><hr></div>
			<div class="infoP2"><p>Depuis 1964</p></div>
			<span class="clr"></span>
		</div>
	</div> -->
	

                            Bienvenu sur la page horaire
  
  {% endblock %}
  
