#menuTool{background:#f0f0f0; padding:2px 0;} /*f3f3f1	f2f2f3*/
#nav, #nav ul{margin:0; padding:0; list-style-type:none; list-style-position:outside; position:relative; line-height:1.5em; z-index:20}
#nav, #navTop{background:#f0f0f0; /*fff*/padding:0; margin-left:20px;}
#nav a, #navTop a{display:block; padding:6px 13px; border:1px solid #f0f0f0; text-decoration:none; font-weight:bold;}
#nav a:hover, #navTop a{background-color:#f7f7f7; /*f2f2f3*/color:#0049ba;}
#nav li a.activemenu{color:#fff;}
#menuTool ul li a:hover, #navTop li a:hover{background-color:#f7f7f7; border:1px solid #ddd; -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px;}
#menuTool ul li a.activemenu{background-color:#0049ba; border:1px solid #0049ba; -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px;}
#menuTool li ul a:hover{border-radius:0px;}
#nav li{float:left; position:relative; /* border:1px solid red */}
#nav ul {position:absolute; display:none; margin-left:18px;/* width:14em; */ top:2.8em; border-top:2px solid #0049ba;}
#nav ul li {margin-left:0px;} #nav li a {text-transform:uppercase; padding:6px 20px;}
#nav li ul a{width:12em; height:auto; float:left; padding-left:15px; text-transform:none; font-weight:normal; background:#fff; border:1px solid #fff;}
#nav ul ul{top:auto;}
#nav li ul ul {left:13.5em;margin:0px 0 0 15px;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{display:none;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{display:block;}

li.iconHomeToolBar, li.actifHomePage{padding:0; padding-top:2px; margin-left:10px; text-align:center;}
li.iconHomeToolBar a, li.actifHomePage a:hover{background:url(../../img/site-img/icon-home-toolBar2.png) no-repeat center; padding:0px 13px!IMPORTANT; height:23px; width:25px;}
li.iconHomeToolBar a:hover, li.actifHomePage a{background:url(../../img/site-img/icon-home-toolBarHover2.png) no-repeat center; padding:0px 13px!IMPORTANT; height:23px; width:25px; background-color:#f0f0f0 !important; border:1px solid #f0f0f0 !IMPORTANT;border-radius:0px;}

#menuToolTop{padding:2px 0; margin-bottom:6px;}
#menuToolTop ul{margin:0; padding:0; list-style:none; background:#fff;}
#navTop{}
#navTop li{float:right;}
#navTop a{font-weight:normal; padding:2px 5px; background:none; border:1px solid #fff; }
#navTop a:hover{background-color:#f3f3f1;}