<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UTB{% endblock %}</title>
    
    {# Styles CSS #}
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/site.css">
    
    {# Scripts JS #}
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/site.js"></script>
</head>
<body>
    <header>
        {# Menu principal #}
        {% include 'Site/_menu.html.twig' %}
    </header>

    <main>
        {% block public_body %}{% endblock %}
    </main>

    <footer>
        {# Pied de page #}
        {% include 'Site/menubas.html.twig' %}
    </footer>
</body>
</html>